@font-face {
    font-family: 'Mont-Regular';
    src: url(fonts/Mont-Regular.ttf);
}
@font-face {
    font-family: 'Mont-Bold';
    src: url(fonts/Mont-Bold.ttf);
}
@font-face {
    font-family: 'Mont-SemiBold';
    src: url(fonts/Mont-SemiBold.ttf);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*задаем блочными теги Html5*/
nav,
footer,
header,
aside {
  display: block;
}

.header {
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
}


/* логотип*/
.header__logo {
    display: block;
    width: 144px;
    height: 36px;
    background-image: url(../img/EgyptTour.png);
    background-repeat: no-repeat;
}

.form {
    position: relative;
}

.form__button {
display: block;
width: 24px;
height: 24px;
background-image: url(/img/search\ 1.png);
background-repeat: no-repeat;
background-color: transparent;
border: none;
position: absolute;
}

.form__input {
    width: 250px;
    border: none;
    padding: 10px 40px;
}

.form__input:focus {
    outline: none;
}

.form__input::placeholder {
    color: rgba(11, 6, 20, 0.3);
}

.header__list {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.header__link {
text-decoration: none;
font-family: 'Mont-Bold';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
color: #0B0614;
opacity: 0.8;
flex: none;
order: 0;
flex-grow: 0;
}

.header__link1 {
text-decoration: none;
font-family: 'Mont-Bold';
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 22px;
color: #FFFFFF;
flex: none;
order: 0;
flex-grow: 0;
}

/* button стиль*/
.header__link__gradient {
background: #FF5029;
border-radius: 12px;
flex: none;
order: 5;
flex-grow: 0;
padding: 20px 30px;
transition: 0.5s;
}

.header__link__gradient:hover {
    background-color: rgb(239, 130, 28); ;
}





/* выравнивания*/

.v {
    background: url(/img/картина.png) center/contain no-repeat;
    display:block;
    margin:auto;
    position: relative;
    width: 1360px;  
    height: 740px;
}

.container1 {
    display:block;
    margin:auto;
}



.b {
    width: 1240px;
    height: 227px;
    background: #FFFFFF;
    box-shadow: 0px 30px 60px rgba(198, 191, 191, 0.18);
    border-radius: 24px;
    position: absolute;
    margin-top: 627px;
    }
    

.container {
 max-width: 1240px;
 margin: 0 auto;
}

.flexd {
    display: flex;
    justify-content: space-between;
}

.b__shrift {
font-family: 'Mont-Semibold';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 54px;
color: #0B0614;
padding-left: 47px;
padding-top: 60px;
}

.b__shrift1 {
    font-family: 'Mont-Semibold';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    color: #FF5029; 
}

.but {
width: 260px;
height: 70px;
background: #FF5029;
border-radius: 12px;
padding: 20px 40px;
margin-top: 40px;
margin-right: 40px;
text-decoration: none;
outline: none;
border: none;
transition: 0.5s;
cursor: pointer;
}

.but::before {
    background-color: rgb(239, 130, 28); 
}

.but__shrift {
font-family: 'Mont-Semibold';
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 30px;
color: #FFFFFF;
}

.butt__img {
    margin-top: 25px;
}
.but__shrift1 {
font-family: 'Mont-Semibold';
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 22px;
color: #0B0614;
margin-top: 25px;
margin-left: 16px;
}
.but__shrift2 {
font-family: 'Mont-Semibold';
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 22px;
color: #FF5029;
}

.d {
    display: flex;
    vertical-align: middle;
}

.display {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 200px;
 }
/* шрифт*/
.shrift {
font-family: 'Mont-Bold';
font-style: normal;
font-weight: 800;
font-size: 64px;
line-height: 70px;
color: #0B0614;
}



.shrift1 {
font-family: 'Mont-SemiBold';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 30px;
color: #FFFFFF;
text-align: center;
}

.shrift1__gradient {
padding: 20px 40px;
background: #FF5029;
border-radius: 12px;
width: 209px;
height: 70px;
text-decoration: none;
cursor: pointer;
transition: 0.5s;
}

.shrift1__gradient:hover {
    background-color: rgb(239, 130, 28);
}



.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 100px;
}

.flex__card {
width: 100%;
min-height: 396px;
background: #FF5029;
border-radius: 20px;
transition: 0.5s;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
padding: 30px;
}

.flex__card:hover {
    background-color: rgb(239, 130, 28);
    transform: scale(1.2);
}

.flex__img {
   
}

.shrift3 {
font-family: 'Mont-Bold';
font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 32px;
text-align: center;
color: #FFFFFF;
flex: none;
order: 0;
flex-grow: 0;
padding-top: 30px;
}

.none {
    text-decoration: none;
    width: 23%;
    margin: 1%;
}

.img__zvezda {
    
    padding-top: 18px;
}

.shrift4 {
font-family: 'Mont-Regular';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 22px;
text-align: center;
color: rgba(255, 255, 255, 0.6);
}

.flex__card2 {
width: 32%;
min-height: 396px;
background: #FEF4F5;
box-shadow: 0px -8px 20px rgba(235, 235, 235, 0.15), 0px 30px 60px rgba(198, 191, 191, 0.15);
border-radius: 20px;
transition: 0.5s;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
padding: 20px;
}

.flex__card2:hover {
    transform: scale(1.1); 
}

.flex__card1 {
width: 100%;
min-height: 396px;
background: #FFFFFF;
box-shadow: 0px -8px 20px rgba(235, 235, 235, 0.15), 0px 30px 60px rgba(198, 191, 191, 0.15);
border-radius: 20px;
transition: 0.5s;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
padding: 30px;
}

.flex__card1:hover {
    transform: scale(1.2);
}

.shrift5 {
    font-family: 'Mont-Bold';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #0B0614;  
    flex: none;
    order: 0;
    flex-grow: 0;
    padding-top: 30px;
}

.shrift6 {
font-family: 'Mont-Regular';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 22px;
text-align: center;
color: rgba(11, 6, 20, 0.6);
flex: none;
order: 1;
flex-grow: 0;
}

.div__otstupe {
    padding-top: 190px;
    text-align: center;
}

.shrift7 {
    font-family: 'Mont-Bold';
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 70px;
    color: #0B0614;
}




.display__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 190px;
}



.flex2 {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    align-items: center;
}



.flex__img2 {
    
    
}

.flex__a {
    text-decoration: none;
}

.shrift8 {
font-family: 'Mont-SemiBold';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 50px;
text-align: center;
color: #0B0614;
padding-top: 45px;
}




.shrift9 {
font-family: 'Mont-Bold';
font-style: normal;
font-weight: 800;
font-size: 64px;
line-height: 70px;
color: #0B0614;
text-align: center;
padding-top: 304px;
padding-bottom: 100px;
}

.display__card1 {
display: flex;
justify-content: space-between;
margin-bottom: 190px;
}

.flex__card4 {
width: 50%;
min-height: 637px;
background: #FFFFFF;
box-shadow: 0px -8px 20px rgba(235, 235, 235, 0.15), 0px 30px 60px rgba(198, 191, 191, 0.15);
border-radius: 20px;
transition: 0.5s;
display: flex;
flex-direction: column;
justify-content: space-between;
padding: 30px;
margin-right: 20px;

}

.flex__card4:hover {
    transform: scale(1.1);
}

.img__otstupe {
    padding-top: 30px;
}



.button__stil {
width: 115px;
height: 47px;
background: #FEF4F5;
border-radius: 12px;
flex: none;
order: 0;
flex-grow: 0;
border: none;
}



.shrift10 {
font-family: 'Mont-Semibold';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 31px;
color: #FF5029;
flex: none;
order: 0;
flex-grow: 0;
text-align: center;
}

.shrift11 {
font-family: 'Mont-Semibold';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 52px;
color: #0B0614;
}

.img__strelka {
    width: 42px;
    height: 42px;
   vertical-align: middle;
}

.flex__card5 {
width: 100%;
min-height: 303px;
background: #FFFFFF;
box-shadow: 0px -8px 20px rgba(235, 235, 235, 0.15), 0px 30px 60px rgba(198, 191, 191, 0.15);
border-radius: 20px;
transition: 0.5s;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
padding: 30px;
}

.flex__card5:hover {
    transform: scale(1.1);  
}

.display__flex{
    display: flex;
}
.flex-col {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.c {
    margin-left: 20px;
}

.button__stil1 {
width: 186px;
height: 47px;
background: #FEF4F5;
border-radius: 12px;
border: none;
}



.flex__card6 {
width: 605px;
height: 303px;
background: #FFFFFF;
box-shadow: 0px -8px 20px rgba(235, 235, 235, 0.15), 0px 30px 60px rgba(198, 191, 191, 0.15);
border-radius: 20px;
margin-top: 31px;
transition: 0.5s;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
padding: 30px;
}

.flex__card6:hover {
    transform: scale(1.1);  
}

.shrift12 {
    font-family: 'Mont-Semibold';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #0B0614;
    padding-top: 24px;
}

.footer1{
min-height: 459px;
background-color: #0B0614;
}

.dis {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 90px;
}
.Mont_Bold {
font-family: 'Mont-Bold';
font-style: normal;
font-weight: 800;
font-size: 36px;
line-height: 40px;
color: #FFFFFF;

}

.Mont_Regular {
font-family: 'Mont-Regular';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 28px;
color: rgba(255, 255, 255, 0.8);
padding-top: 30px;
}

.Mont_Regular1 {
font-family: 'Mont-Bold';
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 28px;
color: #FFFFFF;
padding-bottom: 30px;
}

.Mont_Regular2 {
    font-family: 'Mont-Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.8);
    padding-top: 12px;
}

.Mont_SemiBold {
font-family: 'Mont-SemiBold';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 28px;
color: #FFFFFF;
flex: none;
order: 1;
flex-grow: 0;

}

.flex__div {
display: flex;
justify-content: space-between;
padding-top: 30px;
}

.Mont_SemiBold2 {
    font-family: 'Mont-SemiBold';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
    padding-top: 12px;
}

.vert {
    vertical-align: middle;
}

.lin {
    padding-top: 60px;
}
.cd {
min-height: 0px;
border: 1px solid rgba(255, 255, 255, 0.15);
}

.shrift__footer {
font-family: 'Mont-Regular';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 28px;
color: rgba(255, 255, 255, 0.8);
padding-top: 30px;
}

.span__shrift {
    font-family: 'Mont-Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: rgba(255, 5, 5, 0.8);   
}

.footer__flex {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
 
.margibn__footer{
    margin-right: -761px;
}



 @media (max-width: 1450px) {

    .main img {
        max-width: 100%;
    }

    .v {
        max-width: 100%;
    }
} 

/* ------------------------------------------------------------------------------*/

 @media (max-width: 1245px) {
    .header {
        max-width: 100%;
    }

.container {
    max-width: 100%;
}
    .flex__card1 {
        max-width: 100%;
    }

   .main img  {
    max-width: 100%;
} 

.shrift {
    font-size: 55px;
}







.flex__img {
    padding-top: 40px;
    padding-left: 49px;
    max-width: 62%;
}

.shrift3 {
    font-size: 22px;
    padding-top: 19px;
}

.img__zvezda {
    padding-left: 74px;
    padding-top: 10px;
    max-width: 43%;
}

.shrift4 {
    font-size: 15px;
}

.shrift5 {
    font-size: 22px;
    padding-top: 19px; 
}

.shrift6 {
    font-size: 15px;
}

.shrift7 {
    font-size: 55px;
}



.flex__img2 {
    
    padding-left: 97px;
    max-width: 58%;
}

.shrift8 {
    font-size: 31px;
}

.v {
    max-width: 100%;
}

.b {
    max-width: 100%;
}

.shrift9 {
    font-size: 55px;
}

.flex__card4 {
    max-width: 100%;
}

.img__otstupe {
    max-width: 100%;
}

.flex__card5 {
    width: 100%;
}

.flex__card6 {
    width: 100%;
}
} 


/* --------------------------------------------------------------------------------------------------- */
@media (max-width: 1071px) {
.header {
    max-width: 99%;
}

.header__link {
    font-size: 82%;
}

.header__link__gradient {
    padding: 14px 23px;
}

.header__link1 {
    font-size: 82%;
}

.form__input {
    width: 220px;
}

.shrift10 {
    font-size: 21px;
}

.shrift12 {
    font-size: 35px;
}


}